/* universal styles */

html {
    font-family: "Rum Raisin";
    font-size: 20px;
}

/* header */
.header {
    display: flex;
    width: 100%;
}

.header .image {
    width: 250px;
    height: 100px;
    }

.header-text {
    display: flex;
    justify-content: center;
    background-color: azure;
    height: 200px;
    align-items: center;
}

nav {
    display: flex;
    position: absolute;
    text-align: right;
    padding: 0 auto;
    width: 90%;
}

.desktop {
    display: inline-block;
}

a {
    padding: 0.75em;
}

table {
    display: flex;
    justify-content: flex-start;
    background-color: beige;
    color: crimson;
    padding-left: 30px;
    font-family: "Work Sans";

}

td {
   border: 2px solid beige;
}

